
.lucida-sans{
    font-family: 'Lucida Sans';
    /* font-weight: bold; */
    font-size: 8px;
    /* line-height: 8px; */
}
.lucida-console{
    font-family: 'Lucida Console';
    /* font-weight: bold; */
    font-size: 8px;
}
.courier-new{
    font-family: 'Courier New';
    font-size: 10px;
    font-weight: bold;
}
.courier-new-small{
    font-family: 'Courier New';
    font-size: 8px;
    font-weight: bold;
}
.plaza-de-cobro-font{
    font-family: 'Trebuchet MS';
    font-size: 11px;
    transform: scaleX(0.9);
}
.oxxo-font{
    font-family: 'Ticketing';
    font-size: 40px;
}
.barcode-font{
    font-family: 'Lucida Console';
    font-size: 9px;
}


.ticket {
    position: absolute;
    left:0;
    top:0;
    
    /* padding: 45px 0 0 0; */
    /* width: 155px; */
    /* width: 200px; */
    /* max-width: 200px; */
}

.centrar-img{
    display: block;
    margin: 0 0 10px 35px;
}
.align-top{
    vertical-align: top;
}

.borderless {
    border: none;
    padding: 0;
}

.letter-spacing{
    letter-spacing: -1px;
    font-weight: 800;
}

.justify-left{
    text-align: left;
}

.justify-left-inblock{
    text-align: left;
    display: inline-block;
}
.justify-right{
    text-align: right;
}

.justify{
    text-align: justify;
    /* display: inline-block; */
}

.layout{
    table-layout: fixed;
}

.qr{
    padding-left: 2px;
    height: 85px;
    width: 85px;
}

.barcode{
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 9px;
    width: 260px;
    height: 56px;
}

.table-debug{
    background-color: aqua;
    background: red;
}

.row-height-10 tr{
    height: 10px;
}

.row-height-12 tr{
    height: 12px;
}

.oculto-browser {
    display: none;
}

#table_precios,
#table_total,
#mensaje_qr{
    /* border-spacing: 0; */
    
    width: 220px;
    text-align: left;
    background: gray;
}

@media print{
    
    html, body {
        height: 99%;    
        /* max-height: 100px; */
    }

    .oculto-impresion {
        display: none !important;
    }
    .oculto-browser {
        display: block;
        /* page-break-after: auto; */
    }
    @page {
        margin: 0;
    }
    .separador {
        position: absolute;
        bottom: -10px;
        left: 132px;
    }
    .separador-caseta {
        position: absolute;
        bottom: 0px;
        left: 132px;
    }

    .numero-barcode {
        position: absolute;
        bottom: 17px;
        left: 40px;
    }
    
}

